<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <context:annotation-config />
    <aop:aspectj-autoproxy />

    <bean id="mykhailevych" class="ua.pr.Mykhailevych" />

    <bean id="student" class="ua.pr.Student">
        <constructor-arg value="Gregory" />
        <constructor-arg value="100" />
        <constructor-arg value="1" />
    </bean>

    <bean id="instrument" class="ua.pr.Piano" />

    <bean id="instrumentalist" class="ua.pr.Instrumentalist" />

    <aop:config>
        <aop:aspect ref="mykhailevych">
            <aop:after-returning
                    pointcut="execution(* ua.pr.Student.getInfo(..))"
                    method="doExam" />
        </aop:aspect>
    </aop:config>
</beans>